fichero {
    background-color:#603;
    font-family: sans-serif;
    text-align: center;
}
ficha {
    padding: 0.5em;
    display: block;
}
nombre, apellido {
    color: gold;
    display: inline-block;
}
direccion {
    background-image: linear-gradient(270deg, #603 0%, #C96 50%, #603 100%);
    color:#603;
    display: block;
}